@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff6b00;
}

body {
  color: #ffffff;
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}

.text-gradient {
  background: linear-gradient(to right, var(--primary), #ff9900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

